h2[mat-dialog-title] {
  font-family: "IRANSANSdn";
  text-align: center;
  font-weight: bold;
  color:  #065084;
}

mat-dialog-content p {
  font-size: 14px;
}
mat-dialog-actions {
  width: 320px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
mat-dialog-actions button {
  width: 100px;
  padding: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  color:  #065084;
}


