<div
  class="flex justify-center items-center w-full min-h-[calc(100vh-170px)] overflow-visible"
>
  <div
    class="bg-transparent w-6/8 h-[750px] flex flex-row-reverse justify-center items-center pt-0 p-10 pb-24 max-xl:w-7/8 [@media(max-width:1175px)]:w-full max-lg:px-0 max-sm:h-full sm:[@media(max-width:900px)]:h-175 [@media(max-width:768px)]:p-0 [@media(max-width:768px)]:pb-0"
  >
    <div id="formStepperWrapper" class="w-3/5 h-full max-md:w-full">
      <mat-stepper
        id="signupStepper"
        linear
        animationDuration="500"
        #signupStepper
        [labelPosition]="firstStepShow ? 'bottom' : 'end'"
      >
        <!-- Step 1 (responsive mode) -->
        <mat-step
          completed="false"
          id="welcome-step"
          *ngIf="firstStepShow === true"
        >
          <ng-template matStepLabel>عضویت</ng-template>
          <div
            class="flex flex-col justify-between items-center text-center w-full h-full"
          >
            <p
              class="signinMainTitle pt-3 max-[480px]:py-0"
            >
              عضویت در<span
                class="twTextGradient font-bold text-[34px] font-sans max-900:text-[28px] max-[480px]:text-[26px]"
                ><mat-icon>fitness_center</mat-icon>Steppy</span
              >
            </p>
            <img
              class="flex flex-auto w-full object-contain h-[340px] [480px]:max-sm:h-[310px] [400px]:max-[480px]:h-[290px] max-[400px]:h-[270px] max-900:px-0"
              src="../../../assets/vectors/digital-contract.svg"
            />
            <div
              class="w-full h-fit text-justify px-1 sm:max-md:px-8 max-sm:px-1"
            >
              <p class="signinDescription">
                با عضویت در Steppy می توانید با دریافت برنامه تمرینی خصوصی توسط
                مربیان مجرب و انجام تمرینات متناسب با ویژگی های جسمانی خود به
                صورت هفتگی و روزانه روند پیشرفت خود را مشاهده کنید و به بروز
                ترین مقالات آموزشی دسترسی داشته باشید.
              </p>
            </div>
            <p class="text-[15px] pt-1 pb-4 max-[480px]:text-sm">
              قبلا ثبت نام کردی؟
              <a class="text-blue-600" routerLink="/login"
                >ورود به حساب کاربری</a
              >
            </p>
            <button
              (click)="firstStepHandler()"
              class="twBackgroundGradient shadow-lg hover:shadow-md shadow-black/30 transition cursor-pointer disabled:opacity-70 w-1/2 p-3.5 max-md:py-3 text-[17px] max-md:text-[16px] rounded-xl max-sm:w-full"
            >
              شروع
            </button>
          </div>
        </mat-step>

        <!-- Step 2 -->
        <mat-step completed="false">
          <ng-template matStepLabel>اطلاعات حساب کاربری</ng-template>
          <form
            class="flex flex-col justify-between items-center text-center gap-y-7 w-full h-full max-md:gap-y-4 max-900:gap-y-5 sm:max-md:px-4"
            #signupForm="ngForm"
          >
            <p
              class="hidden signinStepTitle max-md:block pb-1"
            >
              اطلاعات حساب کاربری
            </p>
            <mat-form-field class="w-full">
              <mat-label>نام کاربری</mat-label>
              <mat-icon
                *ngIf="usernameInput.dirty"
                [color]="usernameInput.valid ? 'accent' : 'warn'"
                matSuffix
              >
                {{ usernameInput.valid ? "task_alt" : "error" }}
              </mat-icon>
              <input
                matInput
                name="username"
                required
                minlength="6"
                ngModel
                #usernameInput="ngModel"
              />
              <mat-hint class="w-full relative"
                >حداقل 6 کاراکتر
                <span
                  class="absolute left-0 top-0.5"
                  [ngClass]="{
                    'text-green-600': usernameInput.value.length >= 6
                  }"
                  *ngIf="usernameInput.dirty"
                >
                  {{ usernameInput.value.length }} / 6
                </span>
              </mat-hint>
              <mat-error
                *ngIf="
                  usernameInput.touched && usernameInput.value.length === 0
                "
              >
                نام کاربری نباید خالی باشد
              </mat-error>
              <mat-error
                *ngIf="
                  usernameInput.value.length && usernameInput.value.length < 6
                "
              >
                نام کاربری باید حداقل 6 کاراکتر باشد
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>ایمیل</mat-label>
              <mat-icon
                *ngIf="emailInput.dirty"
                [color]="emailInput.valid ? 'accent' : 'warn'"
                matSuffix
              >
                {{ emailInput.valid ? "task_alt" : "error" }}
              </mat-icon>
              <input
                matInput
                ngModel
                email
                name="email"
                required
                #emailInput="ngModel"
              />
              <mat-hint>example&#64;gmail.com</mat-hint>
              <mat-error
                *ngIf="emailInput.touched && emailInput.value.length === 0"
              >
                ایمیل نباید خالی باشد
              </mat-error>
              <mat-error *ngIf="emailInput.value.length && emailInput.invalid">
                ایمیل اشتباه است
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>کلمه عبور</mat-label>
              <button
                matIconButton
                matSuffix
                *ngIf="passwordInput.dirty"
                (click)="hidePassword = !hidePassword"
              >
                <mat-icon matIconSuffix>
                  {{ hidePassword ? "visibility" : "visibility_off" }}
                </mat-icon>
              </button>
              <mat-icon
                *ngIf="passwordInput.dirty"
                [color]="passwordInput.valid ? 'accent' : 'warn'"
                matSuffix
              >
                {{ passwordInput.valid ? "task_alt" : "error" }}
              </mat-icon>
              <input
                [type]="hidePassword ? 'password' : 'text'"
                minlength="8"
                matInput
                ngModel
                name="password"
                required
                #passwordInput="ngModel"
                (ngModelChange)="passwordCheck()"
              />
              <mat-hint class="w-full relative">
                با استفاده از اعداد و کاراکترهای خاص (&,&#64;,#,...)
                <span
                  class="absolute left-0 top-0.5"
                  [ngClass]="{
                    'text-green-600': passwordInput.value.length >= 8
                  }"
                  *ngIf="passwordInput.dirty"
                >
                  {{ passwordInput.value.length }} / 8
                </span>
              </mat-hint>
              <mat-error
                *ngIf="
                  passwordInput.touched && passwordInput.value.length === 0
                "
              >
                کلمه عبور نباید خالی باشد
              </mat-error>
              <mat-error
                *ngIf="
                  passwordInput.value.length && passwordInput.value.length < 8
                "
              >
                کلمه عبور باید حداقل 8 کاراکتر باشد
              </mat-error>
              <mat-error
                *ngIf="
                  passwordInput.value.length >= 8 &&
                  passwordInput.control.hasError('passwordPattern')
                "
              >
                کلمه عبور باید دارای حداقل یک عدد و کاراکتر خاص
                باشد(&,&#64;,#,...)
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>تاریخ تولد</mat-label>
              <mat-icon
                *ngIf="birthdayInput.dirty"
                [color]="birthdayInput.valid ? 'accent' : 'warn'"
                matSuffix
              >
                {{ birthdayInput.valid ? "task_alt" : "error" }}
              </mat-icon>
              <input
                matInput
                name="birthday"
                [matDatepicker]="matCalender"
                required
                ngModel
                date
                #birthdayInput="ngModel"
              />
              <mat-hint>روز/ماه/سال</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="matCalender"
              ></mat-datepicker-toggle>
              <mat-datepicker #matCalender></mat-datepicker>
              <mat-error *ngIf="birthdayInput.invalid && birthdayInput.touched"
                >تاریخ تولد نامعتبر وارد شده یا خالی است</mat-error
              >
            </mat-form-field>
            <mat-checkbox
              ngModel
              required
              name="agreement"
              color="primary"
              class="w-full text-right text-gray-600 max-md:pb-4"
              #agreementInput="ngModel"
            >
              <a class="text-blue-800 underline" href="www.google.com"
                >شرایط و قوانین</a
              >
              را مطالعه کرده و آنها را میپذیرم.
            </mat-checkbox>
            <button
              type="button"
              (click)="goToNextStep()"
              [disabled]="!signupForm.valid"
              class="twBackgroundGradient shadow-lg hover:shadow-md shadow-black/30 transition w-full text-[17px] p-3.5 mt-auto rounded-xl cursor-pointer disabled:opacity-70 max-md:py-3 max-sm:w-full sm:max-md:w-1/2 max-md:text-[16px]"
            >
              مرحله بعدی
            </button>
          </form>
        </mat-step>

        <!-- Step 3 -->
        <mat-step completed="false">
          <ng-template matStepLabel>اطلاعات جسمانی</ng-template>
          <form
            class="flex flex-col justify-between items-center text-center gap-y-7 w-full h-full max-md:gap-y-4 max-900:gap-y-5 sm:max-md:px-4"
            #physicalInfoForm="ngForm"
            (ngSubmit)="submitSignUpForm(signupForm, physicalInfoForm)"
          >
            <p
              class="hidden signinStepTitle max-md:block pb-1"
            >
              اطلاعات جسمانی
            </p>
            <div class="w-full flex flex-row gap-3 max-[400px]:flex-col max-[400px]:gap-y-4">
              <mat-form-field class="w-full">
                <mat-label>نام</mat-label>
                <mat-icon
                  *ngIf="firstName.dirty"
                  [color]="firstName.valid ? 'accent' : 'warn'"
                  matSuffix
                >
                  {{ firstName.valid ? "task_alt" : "error" }}
                </mat-icon>
                <input
                  pattern="^[A-Za-zآ-ی\s]+$"
                  matInput
                  name="firstName"
                  type="text"
                  required
                  minlength="3"
                  ngModel
                  #firstName="ngModel"
                />
                <mat-hint class="w-full relative">حداقل 3 کلمه</mat-hint>
                <mat-error
                  *ngIf="firstName.touched && firstName.value.length === 0"
                >
                  نام نباید خالی باشد
                </mat-error>
                <mat-error
                  *ngIf="firstName.value.length && firstName.value.length < 3"
                >
                  نام باید حداقل 3 کاراکتر باشد
                </mat-error>
                <mat-error
                  *ngIf="firstName.value.length > 2 && firstName.invalid"
                >
                  نام نباید شامل عدد باشد
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>نام خانوادگی</mat-label>
                <mat-icon
                  *ngIf="lastNameInput.dirty"
                  [color]="lastNameInput.valid ? 'accent' : 'warn'"
                  matSuffix
                >
                  {{ lastNameInput.valid ? "task_alt" : "error" }}
                </mat-icon>
                <input
                  pattern="^[A-Za-zآ-ی\s]+$"
                  matInput
                  name="lastName"
                  type="text"
                  required
                  minlength="3"
                  ngModel
                  #lastNameInput="ngModel"
                />
                <mat-hint class="w-full relative"
                  >حداقل 3 کلمه</mat-hint
                >
                <mat-error
                  *ngIf="
                    lastNameInput.touched && lastNameInput.value.length === 0
                  "
                >
                  نام خانوادگی نباید خالی باشد
                </mat-error>
                <mat-error
                  *ngIf="
                    lastNameInput.value.length && lastNameInput.value.length < 3
                  "
                >
                  نام خانوادگی باید حداقل 3 کاراکتر باشد
                </mat-error>
                <mat-error
                  *ngIf="
                    lastNameInput.value.length > 2 && lastNameInput.invalid
                  "
                >
                  نام خانوادگی نباید شامل عدد باشد
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-full h-full flex flex-row gap-3">
              <mat-form-field class="w-full">
                <mat-label>قد</mat-label>
                <mat-icon
                  *ngIf="heightInput.dirty"
                  [color]="heightInput.valid ? 'accent' : 'warn'"
                  matSuffix
                >
                  {{ heightInput.valid ? "task_alt" : "error" }}
                </mat-icon>
                <input
                  matInput
                  ngModel
                  name="height"
                  type="number"
                  min="100"
                  required
                  #heightInput="ngModel"
                />
                <mat-hint>قد را به واحد cm وارد کنید</mat-hint>
                <mat-error *ngIf="heightInput.touched && !heightInput.value">
                  قد خود را وارد کنید
                </mat-error>
                <mat-error *ngIf="heightInput.value && heightInput.value < 100">
                  قد وارد شده کمتر از حد مجاز است
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>وزن</mat-label>
                <mat-icon
                  *ngIf="weightInput.dirty"
                  [color]="weightInput.valid ? 'accent' : 'warn'"
                  matSuffix
                >
                  {{ weightInput.valid ? "task_alt" : "error" }}
                </mat-icon>
                <input
                  type="number"
                  min="40"
                  matInput
                  ngModel
                  name="weight"
                  required
                  #weightInput="ngModel"
                />
                <mat-hint class="w-full relative">
                  وزن خود را به kg وارد کنید
                </mat-hint>
                <mat-error *ngIf="weightInput.touched && !weightInput.value">
                  وزن خود را وارد کنید
                </mat-error>
                <mat-error *ngIf="weightInput.value && weightInput.value < 40">
                  وزن وارد شده کمتر از حد مجاز است
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field class="w-full">
              <mat-label>سن</mat-label>
              <mat-icon
                *ngIf="ageInput.dirty"
                [color]="ageInput.valid ? 'accent' : 'warn'"
                matSuffix
              >
                {{ ageInput.valid ? "task_alt" : "error" }}
              </mat-icon>
              <input
                type="number"
                min="6"
                matInput
                ngModel
                name="age"
                required
                #ageInput="ngModel"
              />
              <mat-hint class="w-full relative">
                سن خود را به عدد وارد کنید
              </mat-hint>
              <mat-error *ngIf="ageInput.touched && !ageInput.value">
                سن خود را وارد کنید
              </mat-error>
              <mat-error *ngIf="ageInput.value && ageInput.value < 6">
                سن وارد شده کمتر از حد مجاز است
              </mat-error>
            </mat-form-field>
            <mat-radio-group
              class="w-full flex flex-row justify-between items-center"
              name="gender"
              ngModel
              #genderInput="ngModel"
              required
            >
              <mat-label class="text-[15px] font-bold">جنسیت:</mat-label>
              <mat-radio-button value="male" >مرد</mat-radio-button>
              <mat-radio-button value="female" >زن</mat-radio-button>
            </mat-radio-group>
            <div class="w-full h-[78px] flex items-center justify-center">
              <p id="last-step-hint" class="flex justify-center items-start leading-6 text-right text-gray-600 text-sm max-[480px]:text-[13px] max-[480px]:leading-5.5">اطلاعات وارد شده در این قسمت به منظور ثبت وضعیت اولیه و روند تغییرات جسمانی شما طی دوره ها و تمرینات می باشد.</p>
            </div>
            <div class="w-full flex flex-row gap-2.5 mt-auto mb-0" *ngIf="!spinnerActive">
              <button
                matStepperPrevious
                class="twBackgroundGradient flex flex-row-reverse justify-center items-center shadow-lg hover:shadow-md shadow-black/30 transition cursor-pointer disabled:opacity-70 w-1/5 p-2.5 mt-auto text-[17px] rounded-xl max-md:py-2 max-md:text-[16px] min-h-[44px]"
              >
                <img class="w-[28px]" src="../../../assets/vectors/navigate-next.svg"/>
              </button>
              <button
                type="submit"
                [disabled]="!physicalInfoForm.valid"
                class="twBackgroundGradient relative shadow-lg hover:shadow-md shadow-black/30 transition cursor-pointer disabled:opacity-70 w-full p-3.5 mt-auto text-[17px] rounded-xl max-md:py-3 max-md:text-[16px]"
                >
                ثبت نام
              </button>
            </div>
            <app-progress-loading class="mt-auto"
              *ngIf="spinnerActive"
            ></app-progress-loading>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
    <div
      class="flex flex-col justify-center items-center text-center w-2/5 h-full border-l border-gray-300/80 [@media(max-width:769px)]:hidden"
    >
      <p class="signinMainTitle">
        عضویت در<span
          class="twTextGradient font-bold text-[34px] font-sans max-900:text-[28px]"
          ><mat-icon>fitness_center</mat-icon>Steppy</span
        >
      </p>
      <img
        class="w-9/10 h-[340px] px-1 max-900:px-0 max-900:h-[300px] max-[800px]:h-[280px]"
        src="../../../assets/vectors/digital-contract.svg"
      />
      <div class="w-full h-fit text-justify px-8 max-900:px-6">
        <p class="signinDescription">
          با عضویت در Steppy می توانید با دریافت برنامه تمرینی خصوصی توسط مربیان
          مجرب و انجام تمرینات متناسب با ویژگی های جسمانی خود به صورت هفتگی و
          روزانه روند پیشرفت خود را مشاهده کنید و به بروز ترین مقالات آموزشی
          دسترسی داشته باشید.
        </p>
      </div>
      <p class="text-md pt-5">
        قبلا ثبت نام کردی؟
        <a class="text-blue-600" routerLink="/login">ورود به حساب کاربری</a>
      </p>
    </div>
  </div>
</div>
