<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="w-full h-full overflow-hidden flex flex-col justify-start">
      <section
        class="w-full bg-sideNavHeaderColor rounded-2xl h-20 flex flex-row justify-center items-center px-4 mb-4 gap-3"
      >
        <button
          (click)="loggingHandler()"
          class="flex justify-center items-center bg-white p-2 twGradientButton rounded-xl"
        >
          <mat-icon>{{ authStatus ? "account_circle" : "add" }}</mat-icon>
        </button>
        <p
          class="h-full w-full flex justify-start items-center text-[15px] font-bold"
        >
          {{ authStatus ? "خوش آمدید،" : "ورود / ثبت نام" }}
          <span *ngIf="authStatus">{{ userFirstName }}</span>
        </p>
      </section>
      <section
        class="w-full border-t border-gray-300 h-fit flex flex-col justify-between items-start py-3 px-4"
      >
        <p class="text-lg">خدمات</p>
        <ul class="py-2">
          <li><mat-icon>event</mat-icon>برنامه های تمرینی</li>
          <li><mat-icon>auto_stories</mat-icon>مقالات آموزشی</li>
          <li><mat-icon>co_present</mat-icon>مربیان</li>
        </ul>
      </section>
      <section
        class="w-full border-t border-gray-300 h-fit flex flex-col justify-between items-start py-3 px-4"
      >
        <p class="text-lg">داشبورد</p>
        <ul class="py-2">
          <li><mat-icon>checklist_rtl</mat-icon>برنامه های تمرینی من</li>
          <li><mat-icon>history</mat-icon>تاریخچه خریدها</li>
          <li><mat-icon>message</mat-icon>پیام ها</li>
          <li><mat-icon>insights</mat-icon>روند پیشرفت</li>
        </ul>
      </section>
      <section
        class="w-full border-t border-gray-300 h-fit flex flex-col justify-between items-start py-3 px-4"
      >
        <p class="text-lg">تنظیمات</p>
        <ul class="py-2">
          <li><mat-icon>settings</mat-icon>تنظمات برنامه</li>
          <li><mat-icon>info</mat-icon>درباره ما</li>
        </ul>
      </section>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (menuBtnClicked)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
