#calories {
  background: #ffffff;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 83, 83, 0.7) 100%
  );
}
#exercises {
  background: #ffffff;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(83, 119, 237, 0.7) 100%
  );
}
#minutes {
  background: #ffffff;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(77, 169, 61, 0.7) 100%
  );
}
