svg {
  width: 140%;
  height: 75%;
  opacity: 35%;
  position: absolute;
  bottom: 0;
}
use {
  animation: move-forever 8s linear infinite;
  &:nth-child(2) {
    animation-duration: 10s;
    animation-delay: -2s;
  }
  &:nth-child(1) {
    animation-duration: 25s;
  }
}

@keyframes move-forever {
  0% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

::ng-deep .ngx-charts .bar {
  fill: #bde2ff;
}
::ng-deep .ngx-charts .x.axis text {
  font-size: 14px;
  fill: #320a6b;
  transform: translateY(0px);
}

::ng-deep ngx-charts-bar-vertical {
  height: 90%;
  width: 100%;
  display: block;
}

#type-aerobic,
#type-isometric,
#type-strength {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}
#type-aerobic::before,
#type-isometric::before,
#type-strength::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
}
#type-aerobic::before {
  background-color: #c0ca33;
}
#type-isometric::before {
  background-color: #a6d4f5;
}
#type-strength::before {
  background-color: #f28b82;
}

#new-trainings .exercise {
  padding: 4px 0;
  position: relative;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr repeat(3, 1fr) 1fr;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  column-gap: 15px;
}
#graph p::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  background-size: contain;
  background-image: url("../../../assets/vectors/history-record.svg");
  background-repeat: no-repeat;
}
#new-trainings #title::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  background-size: contain;
  background-image: url("../../../assets/vectors/schedule.svg");
  background-repeat: no-repeat;
  opacity: 90%;
}
#new-trainings #title span::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url("../../../assets/vectors/arrow.svg");
  background-repeat: no-repeat;
}

/* Media Queries */
@media (max-width: 1150px) {
  svg {
    width: 150%;
  }
}
@media (max-width: 900px) {
  #type-aerobic,
  #type-isometric,
  #type-strength {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  svg {
    width: 150%;
  }
}
@media (max-width: 480px) {
  svg {
    width: 130%;
  }
  #type-aerobic,
  #type-isometric,
  #type-strength {
    font-size: 13px;
    justify-content: center;
  }
}
