<div class="w-full h-full flex flex-col gap-y-6 max-lg:gap-y-4">
  <div
    id="statistics"
    class="w-full h-1/2 flex flex-row gap-x-6 max-lg:gap-4 max-900:flex-col"
  >
    <section
      id="counts"
      class="w-2/6 h-full flex flex-col gap-4 justify-between items-center max-[480px]:h-[270px] max-[800px]:h-[250px] max-900:w-full [@media(min-width:800px)]:max-900:flex-row [@media(min-width:800px)]:max-900:gap-x-3 [@media(min-width:800px)]:max-900:h-[70px]"
    >
      <div
        id="calories"
        class="w-full h-1/3 bg-white rounded-2xl twCustomSoftShadow flex flex-row overflow-hidden relative max-900:h-full px-7 max-[1150px]:px-5"
      >
        <div
          class="w-full h-full flex flex-col justify-center items-start gap-1.5 z-20"
        >
          <p
            class="font-semibold font-sans text-[24px] pt-0.5 text-red-500 max-900:text-[23px]"
          >
            {{ totalCaloriesBurned }}
          </p>
          <p
            class="text-black/55 text-[13px] max-[1150px]:text-[12px] max-900:text-[11px]"
          >
            کالری سوزانده شده
          </p>
        </div>
        <div
          class="w-fit h-full flex justify-center items-center text-red-700 z-20"
        >
          <mat-icon>whatshot</mat-icon>
        </div>
        <svg viewBox="0 0 2 1" preserveAspectRatio="none" class="z-10">
          <defs>
            <path
              id="w"
              d="
        m0 1v-.5
        q.5.5 1 0
        t1 0 1 0 1 0
        v.5z"
            />
          </defs>
          <g>
            <use href="#w" y=".0" fill="#FDE6E6" />
            <use href="#w" y=".1" fill="#F0B5B5" />
            <use href="#w" y=".2" fill="#E78E8E" />
          </g>
        </svg>
      </div>
      <div
        id="exercises"
        class="w-full h-1/3 bg-white rounded-2xl twCustomSoftShadow flex flex-row overflow-hidden relative max-900:h-full max-[1150px]:px-5 px-7"
      >
        <div
          class="w-full flex flex-col justify-center items-start gap-1.5 z-20"
        >
          <p
            class="font-semibold font-sans text-[24px] pt-0.5 text-blue-800 max-900:text-[23px]"
          >
            {{ totalTrainingsDone }}
          </p>
          <p
            class="text-black/55 text-[13px] max-[1150px]:text-[12px] max-900:text-[11px]"
          >
            تمرین انجام شده
          </p>
        </div>
        <div
          class="w-fit h-full flex justify-center items-center text-headingsColor z-20"
        >
          <mat-icon>fitness_center</mat-icon>
        </div>
        <svg viewBox="0 0 2 1" preserveAspectRatio="none" class="z-10">
          <defs>
            <path
              id="w"
              d="
        m0 1v-.5
        q.5.5 1 0
        t1 0 1 0 1 0
        v.5z"
            />
          </defs>
          <g>
            <use href="#w" y=".0" fill="#E6F4FA" />
            <use href="#w" y=".1" fill="#B5DDF0" />
            <use href="#w" y=".2" fill="#8EC6E7" />
          </g>
        </svg>
      </div>
      <div
        id="minutes"
        class="w-full h-1/3 bg-white rounded-2xl twCustomSoftShadow flex flex-row overflow-hidden relative max-900:h-full max-[1150px]:px-5 px-7"
      >
        <div
          class="w-full flex flex-col justify-center items-start gap-1.5 z-20"
        >
          <p
            class="font-semibold font-sans text-[24px] pt-0.5 text-green-700 max-900:text-[23px]"
          >
            {{ (totalExerciseTimeSpent / 60).toFixed(1) }}
          </p>
          <p
            class="text-black/55 text-[13px] max-[1150px]:text-[12px] max-900:text-[11px]"
          >
            دقیقه تمرین
          </p>
        </div>
        <div
          class="w-fit h-full flex justify-center items-center text-green-900 z-20"
        >
          <mat-icon>alarm_on</mat-icon>
        </div>
        <svg viewBox="0 0 2 1" preserveAspectRatio="none" class="z-10">
          <defs>
            <path
              id="w"
              d="
        m0 1v-.5
        q.5.5 1 0
        t1 0 1 0 1 0
        v.5z"
            />
          </defs>
          <g>
            <use href="#w" y=".0" fill="#E9F6E7" />
            <use href="#w" y=".1" fill="#CDE7C8" />
            <use href="#w" y=".2" fill="#A2D9A0" />
          </g>
        </svg>
      </div>
    </section>
    <section
      id="graph"
      class="w-4/6 pt-4 px-6 pb-12 h-full bg-white rounded-2xl twCustomSoftShadow max-[1150px]:px-5 max-900:w-full max-900:pb-4"
    >
      <p
        class="header mb-6 w-full flex justify-right pt-1 text-headingsColor/90 text-sm font-bold max-[480px]:text-[13px]"
      >
        میزان فعالیت<span class="inline-block mr-auto"> 7 روز گذشته</span>
      </p>
      <div class="w-full h-full flex justify-center items-center">
        <app-http-loading
          message="درحال بارگذاری اطلاعات"
          *ngIf="spinnerOn"
        ></app-http-loading>
        <p
          class="text-center py-8 pt-10 text-gray-500 text-[15px]"
          *ngIf="
            (this.authService.userIdSubject | async) && !trainingsDoneLast7Days
          "
        >
          تمرینی این هفته انجام نداده اید!
        </p>
        <ngx-charts-bar-vertical
          *ngIf="!spinnerOn && trainingsDoneLast7Days"
          [results]="completedTrainingLast7Days"
          [legend]="false"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [showDataLabel]="showDataLabel"
          [barPadding]="barPadding"
          [tooltipDisabled]="tooltipDisabled"
          [roundEdges]="roundEdges"
          [xAxis]="xAxis"
        ></ngx-charts-bar-vertical>
      </div>
    </section>
  </div>
  <div
    class="h-1/2 flex flex-row-reverse gap-6 max-lg:gap-4 max-900:flex-col max-900:w-full"
  >
    <section
      id="pie-chart"
      [ngClass]="spinnerOn ? 'p-6 pt-4 max-[1150px]:p-5' : 'p-4'"
      class="w-2/5 h-full bg-white rounded-2xl twCustomSoftShadow max-lg:w-2/6 [@media(max-width:899px)]:w-full"
    >
      <div
        [ngClass]="spinnerOn ? 'justify-center' : 'justify-between'"
        class="w-full h-full flex flex-col-reverse items-center max-900:flex-row [@media(max-width:480px)]:flex-col-reverse"
      >
        <app-http-loading
          message="درحال بارگذاری اطلاعات"
          *ngIf="spinnerOn"
        ></app-http-loading>
        <ng-container *ngIf="!spinnerOn">
          <div
            id="pie-legend"
            class="w-full h-fit flex flex-row justify-between items-right max-900:flex-col max-900:items-start max-900:gap-y-4 max-900:pr-3 [@media(max-width:480px)]:flex-row [@media(max-width:480px)]:pr-0"
          >
            <div
              class="flex flex-col gap-y-1 items-center max-900:w-full max-900:items-start [@media(max-width:480px)]:items-center"
            >
              <p id="type-isometric" class="text-black/70 font-bold">
                ایزومتریک
              </p>
              <p class="text-[11px] text-black/55">
                {{ completedTrainingsTypes[1].value }} تمرین
              </p>
            </div>
            <div
              class="flex flex-col gap-y-1 items-center max-900:w-full max-900:items-start [@media(max-width:480px)]:items-center"
            >
              <p id="type-aerobic" class="text-black/70 font-bold">هوازی</p>
              <p class="text-[11px] text-black/55">
                {{ completedTrainingsTypes[2].value }} تمرین
              </p>
            </div>
            <div
              class="flex flex-col gap-y-1 items-center max-900:w-full max-900:items-start [@media(max-width:480px)]:items-center"
            >
              <p id="type-strength" class="text-black/70 font-bold">قدرتی</p>
              <p class="text-[11px] text-black/55">
                {{ completedTrainingsTypes[0].value }} تمرین
              </p>
            </div>
          </div>
          <div class="w-auto flex justify-center items-center relative">
            <ngx-charts-pie-chart
              [results]="completedTrainingsTypes"
              [scheme]="pieColorScheme"
              [doughnut]="true"
              [view]="[220, 220]"
              [arcWidth]="0.07"
            >
            </ngx-charts-pie-chart>
            <div
              class="absolute flex flex-col gap-2 text-[30px] text-black/70 font-semibold font-sans justify-center items-center top-1/2 left-1/2 -translate-1/2 bg-steppylightBlue/30 w-[160px] h-[160px] rounded-full"
            >
              {{ totalTrainingsDone }}
              <span class="text-[12px] text-black/60 font-normal"
                >تمرین انجام شده</span
              >
            </div>
          </div>
        </ng-container>
      </div>
    </section>
    <section
      id="new-trainings"
      class="w-full flex flex-col items-center bg-white rounded-2xl twCustomSoftShadow pt-4 pb-5 px-6 max-[1150px]:px-5"
    >
      <p
        id="title"
        class="w-full pb-4 flex justify-right items-center pt-1 text-headingsColor/90 text-sm font-bold max-[480px]:text-[13px]"
      >
        تمرین های جدید<span
          routerLink="/training"
          class="mr-auto flex justify-center items-center cursor-pointer"
        >
          مشاهده همه</span
        >
      </p>
      <ng-container *ngIf="newTrainings.length">
        <div
          *ngFor="
            let exercise of newTrainings;
            let index = index;
            let isLast = last
          "
          class="exercise w-full grid grid-cols-7 grid-rows-1 row-span-1 max-[480px]:grid-cols-5"
          [ngClass]="isLast ? '' : 'border-b border-steppylightBlue'"
        >
          <ng-container *ngIf="index < 3">
            <p
              class="text-right justify-self-start text-[13.5px] text-black/90"
            >
              {{ exercise.name }}
            </p>
            <img
              class="w-18 h-[95%] object-contain max-[480px]:hidden"
              [src]="'../../assets/vectors/' + exercise.name + '.png'"
              alt=""
            />
            <p class="text-[13px] text-gray-600 max-[385px]:text-[12px]">
              <span class="font-bold text-[14px]">{{ exercise.sets }}</span> ست
            </p>
            <p class="text-[13px] text-gray-600 max-[385px]:text-[12px]">
              <span class="font-bold text-[14px]">{{ exercise.reps }}</span>
              تکرار
            </p>
            <p
              class="text-[13px] text-gray-600 max-[385px]:text-[12px] max-[480px]:hidden"
            >
              {{ exercise.type }}
            </p>
            <button
              class="text-green-600 w-fit flex justify-self-end items-center"
              matTooltip="شروع تمرین"
              [routerLink]="['/training/', exercise.id]"
            >
              <mat-icon class="w-full">play_circle</mat-icon>
            </button>
          </ng-container>
        </div>
      </ng-container>
      <p
        class="text-center pt-8 pb-10 text-gray-500 text-[15px]"
        *ngIf="(this.authService.userIdSubject | async) && !newTrainings.length"
      >
        تمرین جدیدی وجود ندارد!
      </p>
      <app-http-loading
        message="درحال بارگذاری اطلاعات"
        *ngIf="!(this.authService.userIdSubject | async)"
        class="mb-5"
      ></app-http-loading>
      <button
        routerLink="/training"
        class="w-fit h-fit mt-auto mr-auto cursor-pointer max-[480px]:mr-0 mb-0 p-2 px-3 gap-1 twCustomSoftShadow rounded-xl bg-btnSecondColor flex justify-center items-center text-white text-[13px]"
      >
        <img class="w-3 h-3" src="../../../assets/vectors/plus.svg" />
        ایجاد تمرین جدید
      </button>
    </section>
  </div>
</div>
