<div class="flex flex-col justify-start items-center w-full min-h-[calc(100vh-84px)]">
  <section id="main-buttons" class="w-full flex flex-row justify-between">
    <p class="text-2xl font-bold text-headingsColor/85">تمرین های من</p>
    <div class="flex flex-row gap-4">
      <button title="ارتباط با مربی" class="text-btnSecondColor transition duration-100 hover:rotate-360">
        <mat-icon>contact_mail</mat-icon>
      </button >
      <button (click)="removeAllTrainings()" title="حذف تمرین ها" class="text-btnSecondColor transition duration-100 hover:rotate-360">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </section>
  <mat-tab-group>
    <mat-tab label="تمرین های جدید">
      <div id="new-exercises-wrapper">
        <section id="addSection" class="w-full h-[240px] pb-6 flex flex-row justify-between items-end gap-x-7 border-0 border-b border-b-steppylightBlue">
          <div class="flex flex-col h-full justify-between w-2/10">
            <mat-form-field appearance="outline">
              <mat-label>نوع تمرین</mat-label>
              <mat-select #exerciseNameInput [value]="selectedExercise['exerciseName']" (selectionChange)="exercisePick($event)">
                <mat-option *ngFor="let name of exerciseNames" [value]="name">{{name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="w-full flex flex-row gap-x-5">
              <mat-form-field appearance="outline">
                <mat-label>ست</mat-label>
                <mat-select #exerciseSetsInput required>
                  <mat-option *ngFor="let number of setCounts" [value]="number">{{number}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>تکرار</mat-label>
                <mat-select #exerciseRepsInput required>
                  <mat-option *ngFor="let number of repCounts" [value]="number">{{number}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button (click)="createTraining(exerciseNameInput,exerciseSetsInput,exerciseRepsInput)" class="bg-btnSecondColor hover:shadow-sm transition cursor-pointer w-full py-4 rounded-xl text-[16px] text-white twFlexCentering shadow-md shadow-black/30">
              اضافه کردن تمرین
            </button>
          </div>
          <mat-card>
            <img [src]="'../../assets/vectors/' + selectedExercise['exerciseName'] + '.png'" alt="">
            <mat-card-content>
              <mat-card-title>{{selectedExercise["exerciseName"]}}</mat-card-title>
              <mat-card-subtitle
                 [ngClass]="{'hard': selectedExercise['hardness'] === 'سخت',
                             'normal': selectedExercise['hardness'] === 'متوسط',
                             'easy': selectedExercise['hardness'] === 'آسان'}"
                  >سطح: <span>{{selectedExercise["hardness"]}}</span>
              </mat-card-subtitle>
              <p class="text-[13px] text-justify leading-6 text-gray-700">{{selectedExercise["description"]}}</p>
            </mat-card-content>
          </mat-card>
        </section>
        <section class="w-full h-auto flex flex-col pt-6 gap-5">
          <p class="text-center pt-5  text-gray-500 text-[15px]" *ngIf="!newTrainings.length">تمرین جدیدی وجود ندارد!</p>
          <ul *ngIf="newTrainings.length" class="w-full h-fit grid grid-cols-8 grid-rows-1 justify-items-center gap-x-2.5 px-[35px] text-gray-500 text-[13px]">
            <li class="col-span-1">نام حرکت</li>
            <li class="col-span-2"></li>
            <li class="col-span-1">تعداد ست</li>
            <li class="col-span-1">تعداد تکرار</li>
            <li class="col-span-1">تاریخ</li>
            <li class="col-span-2"></li>
          </ul>
          <app-new-training *ngFor="let item of newTrainings" [addedExercise]="item"></app-new-training>
        </section>
      </div>
    </mat-tab>
    <mat-tab label="تمرین های تکمیل شده">
      <div id="previous-exercises-wrapper">
         <section class="w-full h-auto flex flex-col pt-6 gap-5">
          <p class="text-center pt-5  text-gray-500 text-[15px]" *ngIf="!completedTrainings.length">تمرین تکمیل شده ای وجود ندارد!</p>
          <ul *ngIf="completedTrainings.length" class="w-full h-fit grid grid-cols-8 grid-rows-1 justify-items-center gap-x-2.5 px-[35px] text-gray-500 text-[13px]">
            <li class="col-span-1">نام حرکت</li>
            <li class="col-span-2"></li>
            <li class="col-span-1">تعداد ست</li>
            <li class="col-span-1">تعداد تکرار</li>
            <li class="col-span-1">تاریخ اتمام</li>
            <li class="col-span-2"></li>
          </ul>
          <app-previous-training
            *ngFor="let item of completedTrainings"
            [completedExercise]="item"
            (deleted)="deleteFromHistory(item.dateCompleted)"
          >
          </app-previous-training>
        </section>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
