<div class="flex flex-col justify-center items-start w-full h-auto">
  <section class="w-full h-[600px] flex flex-row justify-center items-center overflow-hidden pb-20">
    <div class="w-7/12">
      <img class="w-full overflow-hidden opacity-0 animate-fadeInLeft"
        src="../../assets/vectors/vecteezy_man-is-doing-kettlebell-exercises-at-the-gym-illustration_11634393 (1)-Photoroom.png"
        alt="" />
    </div>
    <div class="w-4/12 h-auto">
      <div class="w-full h-full flex flex-col justify-center items-start text-gray-700 animate-fadeInRight opacity-0 gap-4">
        <p class="text-4xl font-bold text-headingsColor/85">هروز یک قدم جلوتر!</p>
        <p class="text-[18px] text-gray-600 text-right leading-8">با <span
            class="twTextGradient font-bold text-[21px]">Steppy</span> تمرین‌ هات رو هر جا که هستی شروع کن بدون نیاز به
          باشگاه، بدون تجهیزات خاص.<br /> فقط خودت، اراده‌ت و یه
          برنامه حرفه‌ای.<br />همراه با مربی اختصاصی که قدم‌ به‌ قدم کنارت می‌مونه.<br /> وقتشه که خونه‌تو به بهترین
          باشگاه دنیا تبدیل
          کنی!</p>
        <button id="letsGoBtn"
          class="mt-8 w-1/3 h-12">بزن
          بریم
          <div class="hoverEffect">
            <div></div>
          </div>
        </button>
      </div>
    </div>
  </section>
  <section id="websiteFeatures" class="w-full h-fit flex flex-row justify-center items-center">
    <div class="w-10/12 h-full rounded-4xl flex flex-col items-center">
      <div class="w-1/4 h-full twFlexCentering flex-col text-gray-600 mb-5">
        <p class="text-3xl font-bold text-headingsColor/85">حالا چرا <span
            class="twTextGradient font-bold text-3xl">Steppy</span> ؟
        </p>
      </div>
      <div class="w-3/4 h-fit bg-lightGreen/30 grid grid-cols-4 grid-rows-1 rounded-4xl ">
        <mat-card>
          <div>
            <img mat-card-image src="../../assets/vectors/business-idea.svg" />
          </div>
          <mat-card-content>
            <p>برنامه های تمرینی متنوع</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <div>
            <img mat-card-image src="../../assets/vectors/virtual-assistant.svg" />
          </div>
          <mat-card-content>
            <p>دسترسی سریع و آسان</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <div>
            <img mat-card-image src="../../assets/vectors/idea.svg" />
          </div>
          <mat-card-content>
            <p>مقالات علمی معتبر</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <div>
            <img mat-card-image src="../../assets/vectors/concept-of-remote-team.svg" />
          </div>
          <mat-card-content>
            <p>رضایت کاربران</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
  <section id="plansSection" #fitnessPlansSection
    class="w-full h-[800px] flex flex-row gap-5 justify-center items-center">
    <div class="w-7/12 h-fit flex flex-col justify-between items-center"
      [ngClass]="plansSectionObserved? 'flex':'hidden'">
      <div class="w-full h-full flex flex-col justify-between text-gray-700 animate-fadeInLeft opacity-0 gap-y-2">
        <p class="text-3xl font-bold text-headingsColor/85">برنامه تمرینی، متناسب با هر هدف</p>
        <p class="text-[15px] leading-7">با انتخاب برنامه های جامع میتونی با خیال راحت مسیر تناسب اندامتو شروع کنی و
          دیگه نگران جزئیات نباشی چون فکر همه جاشو کردیم.</p>
        <div id="cards" class="w-full grid grid-cols-3 grid-rows-[340px] gap-x-5">
          <mat-card>
            <img class="absolute w-[250px] -top-[5%] -left-[25%] opacity-35 -z-10"
              src="../../assets/vectors/dumbell.png" alt="">
            <mat-card-header>
              <mat-card-title class="text-red-800/70">مسیر عضله سازی</mat-card-title>
              <mat-card-subtitle>تمرینات متنوع و حرفه ای عضله سازی</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li>برنامه تمرینی با هدف عضله سازی</li>
                <li>آموزش حرکات با تصویر و توضیح</li>
                <li>سطح بندی (از مبتدی تا پیشرفته)</li>
                <li>پیگیری پیشرفت و تغییرات</li>
              </ul>
            </mat-card-content>
            <button mat-icon-button>
              <mat-icon>arrow_outward</mat-icon>
            </button>
          </mat-card>
          <mat-card>
            <img class="absolute rotate-40 w-[250px] -top-[5%] -left-[25%] opacity-35 -z-10"
              src="../../assets/vectors/scales.png" alt="">
            <mat-card-header>
              <mat-card-title class="text-green-800/80">کنترل وزن</mat-card-title>
              <mat-card-subtitle>رژیم های تخصصی برای تغییر وزن</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li>تنظیم رژیم غذایی متناسب با هدف</li>
                <li>برنامه وعده های روزانه متنوع</li>
                <li>نکات تغذیه ای برای زندگی سالم</li>
                <li>دستورهای غذایی رژیمی</li>
                <li>دسترسی به نرم افزار کنترل وزن</li>
              </ul>
            </mat-card-content>
            <button mat-icon-button>
              <mat-icon>arrow_outward</mat-icon>
            </button>
          </mat-card>
          <mat-card>
            <img class="absolute rotate-40 w-[250px] -top-[5%] -left-[25%] opacity-35 -z-10"
              src="../../assets/vectors/gym.png" alt="">
            <mat-card-header>
              <mat-card-title class="text-cyan-800/90">برنامه جامع تناسب</mat-card-title>
              <mat-card-subtitle>عضله سازی + رژیم غذایی</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li>برنامه تمرینی و غذایی هماهنگ</li>
                <li>هدف گذاری دقیق برای فرم دهی</li>
                <li>پشتیبانی و مشاوره در طول مسیر</li>
                <li>ابزارهای پیگیری و تحلیل تغییرات</li>
                <li>بهینه سازی برنامه به مرور</li>
                <li>دسترسی به نرم افزار کنترل وزن</li>
              </ul>
            </mat-card-content>
            <button mat-icon-button>
              <mat-icon>arrow_outward</mat-icon>
            </button>
          </mat-card>
        </div>
        <button
          class="twBackgroundGradient animate-bounce text-white shadow-lg shadow-gray-400 hover:shadow-md cursor-pointer transition w-48 h-12 py-3 mt-8 rounded-xl text-[16px]">مشاهده
          تمامی برنامه ها
        </button>
      </div>
    </div>
    <div class="w-5/12 h-full" [ngClass]="plansSectionObserved? 'flex':'hidden'">
      <img class="w-full object-contain opacity-0 animate-fadeInRight" src="../../assets/vectors/plans-Photoroom.png"
        alt="" />
    </div>
  </section>
  <section id="exercisesSection" #exerciseSection
    class="w-full h-fit flex flex-row gap-5 justify-center items-center">
    <div [ngClass]="exerciseSectionObserved? 'flex':'hidden'" class="w-5/12 h-full flex justify-center items-center">
      <img class="w-full object-contain opacity-0 animate-fadeInLeft"
        src="../../assets/vectors/vecteezy_set-of-sports-people-stretching-workout-training-fitness-in_48066852-Photoroom.png"
        alt="">
    </div>
    <div [ngClass]="exerciseSectionObserved? 'flex':'hidden'"
      class="w-6/12 h-full flex flex-col animate-fadeInRight justify-between items-start text-gray-700">
      <p class="text-3xl font-bold text-headingsColor/85 pb-2">تمرین خودتو بساز!</p>
      <p class="text-[16px] leading-8">از بین تمرینات متنوع که بصورت تصویری و کاملا استاندارد آموزش داده شدن با شدت های
        مختلف میتونی تمرین خودتو بسازی و تو بخش تمرین های من پیشرفتت رو تو اون تمرین ببینی.</p>
      <mat-tab-group>
        <mat-tab *ngFor="let exercise of allExercisesData" [label]="exercise['exerciseName']">
          <div id="mat-tab-wrapper">
            <mat-card>
              <img [src]="'../../assets/vectors/' + exercise['exerciseName'] + '.png'" alt="">
              <mat-card-content>
                <mat-card-title>{{exercise["exerciseName"]}}</mat-card-title>
                <mat-card-subtitle
                 [ngClass]="{'hard': exercise['hardness'] === 'سخت',
                             'normal': exercise['hardness'] === 'متوسط',
                             'easy': exercise['hardness'] === 'آسان'}"
                  >سطح: <span>{{exercise["hardness"]}}</span>
              </mat-card-subtitle>
                <ul>
                  <li><span> تعداد تکرار:</span> {{exercise["sets"]}} ست {{exercise["reps"]}} تایی</li>
                  <li><span>عضله هدف: </span>{{exercise["target"]}}</li>
                  <li><span>استراحت: </span>{{exercise["restTime"]}} ثانیه</li>
                  <li><span>نقطه ضعف: </span>{{exercise["weakness"]}}</li>
                </ul>
                <button routerLink="/training" mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
